# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Логи
*.log

# IDE / редакторы
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db

# Отчёты (если появятся)
allure-results/
allure-report/

# Selenium (иногда создаёт)
*.png

# dotenv (если будешь использовать)
.env